.navbar-burger span {
  height: 2px;
}

#season-long-draft-guide-navbar a:hover {
  color: #00d1b2!important;
}

#season-long-draft-guide-navbar .navbar-dropdown a:hover {
  color: #00d1b2 !important;
}